<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="SuiteParallelAll" parallel="methods">
	<test thread-count="7" name="Test">
		<classes>
			<class name="amazon_Project1.Project1_Amazon.TestCase02_Loginwithdataprovider" />
			<class name="amazon_Project1.Project1_Amazon.TestCase03_LoginwithIncorrect" />
			<class name="amazon_Project1.Project1_Amazon.TestCase04_Editprofile" />
			<class name="amazon_Project1.Project1_Amazon.Testcase05_SearchProduct_Project1" />
			<class name="amazon_Project1.Project1_Amazon.Testcase06_VerifyFilter" />
			<class name="amazon_Project1.Project1_Amazon.Testcase07_ProductDetailsPage_project1" />
			<class name="amazon_Project1.Project1_Amazon.Testcase08_VerifySort_Project1" />
			<class name="amazon_Project1.Project1_Amazon.TestCase09_Addtocart_Project1" />
			<class name="amazon_Project1.Project1_Amazon.Testcase13_applycoupen" />
			<class name="amazon_Project1.Project1_Amazon.TestCase10_AddandRemoveCart_Project1" />
			<class name="amazon_Project1.Project1_Amazon.Testcase11_Checkoutprocess_project1" />
			<class name="amazon_Project1.Project1_Amazon.Testcase12_Allpaymentmethod_Project1" />
			<class name="amazon_Project1.Project1_Amazon.Testcase15_Cartpage_Withoutlogin" />

		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
